.custom-form-control {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  margin: 1rem 0;

  .label-input-wrapper {
    display: flex;

    &.form-control-column {
      flex-direction: column;
      width: 300px; //should be removed

      .label-wrapper {
        margin: 0 0 15px 0;
      }
    }

    .label-wrapper {
      margin-right: 1rem;
      margin-top: 10px;
    }

    .input-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      .input-content {
        position: relative;
        display: flex;

        .left-icon-wrapper,
        .right-icon-wrapper {
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
        }
        .right-icon-wrapper {
          right: 10px;
          left: unset;
        }

        input {
          width: 100%;
          display: block;
          border: none;
          border: 2px solid #ebebeb;
          padding: 10px 30px;
          height: auto;
          color: #222;
          font-family: roboto slab;
          outline: none;
          appearance: unset !important;
          -moz-appearance: unset !important;
          -webkit-appearance: unset !important;
          -o-appearance: unset !important;
          -ms-appearance: unset !important;
        }
      }
    }
  }
}
