<form [formGroup]="form" autocomplete="off" (ngSubmit)="submit()">
  <custom-input [isRow]="false" validationType="high" customPlaceHolder="type something" [TemplateLabel]="TemplateLabel"
    [parentForm]="form" [showLeftIcon]="true" [showRightIcon]="true" leftIcon="far fa-envelope"
    rightIcon="fas fa-spinner" fieldName="name" label="Name" formControlName="name">
    <ng-template #TemplateLabel>
      {{ "Email" }}
    </ng-template>
  </custom-input>
</form>

<!-- <router-outlet></router-outlet> -->



<widget-wrapper>
  <widget-example></widget-example>
</widget-wrapper>
<br>
